.header {
  margin-left: 20px;
 }
 .inl{
   display: inline;
 }
 .left{
   float: left;
 }
 .right{
   float: right;
 }
 .profile_cont{
   margin: 30px;
 }
 #main .create_cont{
   padding: 1%;
   width: 50%;
   margin: auto;
   margin-top: 20px;
 }
 #main .header a {
   color: white;
   text-decoration: none;
 }
 